.mobile-nav-container {
	display: none;
}

.navigation {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100px;
	background-color: transparent;
	z-index: 20;
}

.navigation__container {
	display: flex;
	justify-content: space-between;
	max-width: 1440px;
	margin: 10px auto;
}

.navigation__bar-list {
	display: flex;
	list-style: none;
}

.navigation__bar-list li {
	margin: 3px 10px;
}

.navigation__bar-list li a {
	text-decoration: none;
	color: white;
	text-transform: capitalize;
	font-size: 22px;
	font-weight: 500;
	border-bottom: 1px solid transparent;
}

.navigation__bar-list li a.active {
	border-color: white !important;
}

.navigation__bar-list li a:hover {
	border-color: white;
}

@media (max-width: 575px) {
	.navigation {
		display: none;
	}

	.mobile-nav-container {
		position: relative;
		display: flex;
		justify-content: space-between;
		padding: 10px 20px;
		background-color: var(--dark-green);
	}

	.mobile-nav-list {
		position: absolute;
		height: 100vh;
		width: 80%;
		background-color: var(--dark-green);
		z-index: 100;
		top: 0;
		right: 0;
	}

	.mobile-nav-list ul {
		list-style: none;
		margin-top: 120px;
	}

	.mobile-nav-list ul li a{
		text-decoration: none;
		font-size: 32px;
		color: var(--main-pink);
		border-bottom: 1px solid transparent;
	}

	.mobile-nav-list ul li a.active{
		border-color: var(--main-pink);
	}

	.close-btn {
		position: absolute;
		top: 20px;
		right: 20px;
		color: var(--main-pink);
		height: auto;
		width: 50px;
		cursor: pointer;
	}

	.menu-btn {
		color: var(--main-pink);
		height: auto;
		width: 50px;
		cursor: pointer;
	}

	.hidden {
		transform: translateX(100%);
	}
}
