@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	transition: all 0.3s ease;
}

:root {
	--main-pink: rgb(252, 228, 208);
	--light-green: rgb(31, 120, 110);
	--mask-green: rgba(6, 26, 31, 0.5);
	--dark-yellow: rgb(242, 172, 95);
	--dark-green: rgb(14, 57, 67);
	--black: rgb(0, 0, 0);
	--shadow: rgba(0, 0, 0, 0.1);
	--white: rgb(250, 250, 220);
}

.btn {
	background-color: transparent;
	border: none;
}

.main-btn a {
	border: 1px solid black;
	background-color: var(--dark-green);
	padding: 12px 35px;
	color: white;
	text-decoration: none;

}

.main-btn a:hover {
	background-color: transparent;
	color: black;
}